<mat-sidenav-container>
  <mat-sidenav mode="side" opened [fixedInViewport]="true" [fixedTopGap]="64" [fixedBottomGap]="10">
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Navigation</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list dense>
          <a mat-list-item routerLink="./menu" routerLinkActive="active">Menu</a>
          <a mat-list-item routerLink="./sidenav" routerLinkActive="active">Sidenav</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Layout</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list dense>
          <a mat-list-item routerLink="./card" routerLinkActive="active">Card</a>
          <a mat-list-item routerLink="./divider" routerLinkActive="active">Divider</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>