<mat-toolbar color="primary">
  <a mat-button routerLink="/home">Material</a>
  <a mat-button routerLink="/components">Components</a>
  <a mat-button routerLink="/cdk">CDK</a>
  <a mat-button routerLink="/guides">Guides</a>
  <div class="flex-spacer"></div>
  <button mat-button [matMenuTriggerFor]="version">{{currentVersion}}</button>
  <mat-menu #version="matMenu">
    <button mat-menu-item *ngFor="let item of versions" (click)="changeVersion(item)">{{item}}</button>
  </mat-menu>
</mat-toolbar>

<div class="space"></div>

<router-outlet></router-outlet>
